html, body {
    margin: 0;
    padding: 0;
    width: 340px;
    text-align: center;
    background-color: #111;
}

.inputfile {
    opacity: 0;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    position: absolute;
}

.button {
    padding: 4%;
    border: none;
    text-decoration: none;
}

.button,
.inputfile + label {
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    padding: 4% 0 4% 0;
    display: inline-block;
    background-color: #364364;
}

.button:hover,
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #6C86C8;
}

.dragover {
    background-color: #50c3c3 !important;
}

.button,
.inputfile + label {
	cursor: pointer;
}

.small {
    float:left;
    width: 33.3%;
    display: block;
    position: relative;
}
